aniso8601==7.0.0
asgiref==3.8.1
Django==5.1
django-cors-headers==4.4.0
django-filter==24.3
django-graphql-auth==0.3.16
django-graphql-jwt==0.4.0
graphene==2.1.9
graphene-django==2.16.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphqlclient==0.2.4
mutagen==1.47.0
pillow==10.4.0
promise==2.3
PyJWT==2.9.0
Rx==1.6.3
singledispatch==4.1.0
six==1.16.0
sqlparse==0.5.1
text-unidecode==1.3
